## LIST

In [52]:
l = []

l.append(1)
l.append("string")
l.append(2.5)

print(l)

[1, 'string', 2.5]

In [54]:
a = [1, 2, 3]
b = a
b.append(5) # shallow copy!

print(id(a), id(b))
print(a, b)

140679844998352 140679844998352
[1, 2, 3, 5] [1, 2, 3, 5]

In [2]:
l = list(range(10))
print("list l:", l)

list l: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(l[1:6:2]) # start = 0, end = 3, step = 2
print(l[:3]) # (start = 0), end = 3, (step = 1)
print(l[:-1]) # (start = 0), end = 5 (last element is excluded)

[1, 3, 5]
[0, 1, 2]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
# + and * return always a new obj
print(l*3)
print(l+l)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
l = [2, 4, 1, 5, 6, 2, 4, 2, 5, 7 ,10]
l.sort() # return this
c = sorted(l) # return a new obj

print(l)
print(c)

[1, 2, 2, 2, 4, 4, 5, 5, 6, 7, 10]
[1, 2, 2, 2, 4, 4, 5, 5, 6, 7, 10]

In [6]:
l = list(range(10))
l.pop(4)
print(l)

del l # list obj destroyed

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [7]:
l = list(range(10))
for x in l:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [60]:
l = [[[[1], []], []], [], []]*3
l[0][0][0][0] = 3
lw = [[[[1], []], []], [], []]
del lw[0][0]
# lw[0][0][0][0] # ERROR: cannot access deep nested list

## TUPLE

In [8]:
t = tuple(range(10))
t[2:6:1]
# t[2] = 5 # ERROR:tuple is immutable

(2, 3, 4, 5)

In [56]:
# but if a tuple has a list that it's mutable 
# we can modify the tuple (but not it's structure, (int, list, int, int))
t = (1, [2, 3, 4], 5, 6)
t[1].append(99) 
t

(1, [2, 3, 4, 99], 5, 6)

In [9]:
a = "first"
b = "second"

t = a, b # tuple packing
print(t)

c, d = t # tuple unpacking
print(c, d)

e, _ = t # with '_' we ignore an element of unpacked obj
print(e)

players = ("jack", "taylor", "frank")
leaders = ("me", "you")

tournament = [(l, p) for l in leaders for p in players] # extraction and packing n * m
print(tournament)

('first', 'second')
first second
first
[('me', 'jack'), ('me', 'taylor'), ('me', 'frank'), ('you', 'jack'), ('you', 'taylor'), ('you', 'frank')]

In [10]:
a = 3
b = 9

print(a, b)

a, b = b, a #SWAP IN PYTHON
print(a, b)

3 9
9 3

In [11]:
t = (1, [2, 7], [3,4])
print(id(t[-1])) # id returns the addr of the obj
print(t)

t[-2].append(5)
print(id(t[-1]))
print(t)

140679846191504
(1, [2, 7], [3, 4])
140679846191504
(1, [2, 7, 5], [3, 4])

In [12]:
t = (1, 2, [3, 4])
print(t)
print(t[-1]) # ignore last element
print(t)

# t[1] += [5, 6] # cannot modify tuple
#t[-1] += [5, 6] # cannot do that

c = [1, 2, 3, 4, 5]
c[-1] = [5, 6] # last element is overwritten
print(c)

for x in t:
    print(x)

(1, 2, [3, 4])
[3, 4]
(1, 2, [3, 4])
[1, 2, 3, 4, [5, 6]]
1
2
[3, 4]

In [ ]:
t = 1, 2
c = 3, 4

print(id(c))
c = t + c
print(id(c))

print(d)
print(type(t))

- **do not mix immutables with mutables objects**
- **tuples are faster and need less memory**

## DICTIONARIES

In [13]:
ex = {"Victor" : ("Molavia", 123456789, 1000),
      "Thomas" : ("albania", 84294425, 100000000000000),
      "Pietro" : ("Italia", 5050645601, 1)}

print(ex)

{'Victor': ('Molavia', 123456789, 1000), 'Thomas': ('albania', 84294425, 100000000000000), 'Pietro': ('Italia', 5050645601, 1)}

In [14]:
print("Pietro" in ex)
print("Dogan" in ex)

True
False

In [15]:
for k in ex.keys():
    print(k)

for v in ex.values():
    print(v)
    
for i in ex.items():
    print(i)

Victor
Thomas
Pietro
('Molavia', 123456789, 1000)
('albania', 84294425, 100000000000000)
('Italia', 5050645601, 1)
('Victor', ('Molavia', 123456789, 1000))
('Thomas', ('albania', 84294425, 100000000000000))
('Pietro', ('Italia', 5050645601, 1))

In [17]:
del ex

NameError: name 'ex' is not defined

## SETS

In [45]:
insieme1 = set()
insieme1 = {1, 2, 3, 4, 5}

print(insieme1)

3 in insieme1
# used to know if something exists 
# (is present) avoiding repetitions

insieme2 = set() # have to be specified the obj type
insieme2 = {6, 2, 3, 1}

insieme3 = insieme1 | insieme2 # union
print(insieme3)

insieme4 = insieme3 & insieme1 # intersect
print(insieme4) 

insieme5 = insieme2 - insieme3 # diff
print(insieme5)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
set()

In [50]:
a, b, *rest = range(10) # *rest takes all the rest
print(a, b, rest)

c, *d, e = range(10)
print(c, d, e)

*_, last = range(10)
print(last)

0 1 [2, 3, 4, 5, 6, 7, 8, 9]
0 [1, 2, 3, 4, 5, 6, 7, 8] 9
9